$dark: #0E260B;
$header: #027011;
$medium: #C3EDBC;

.navbar {
  background-color: $dark;
  padding-top: 1%;
  padding-bottom: 1%;
}

h2 {
	color: darken($header, 10%);
	font-family: 'Lato', 'Open Sans';
}

body {
	font-family: 'Cabin', 'Roboto';
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $medium;
}

.table-striped > tbody > tr:nth-of-type(even) {
  // background-color: $light;
  background-color: lighten($medium, 4.5%);
}

thead {
	background-color: $header;
	color: white;
	letter-spacing: 1px;
	font-size: 1.25em;
}